#grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-color: blueviolet;
  border: 1px solid;
}

.horizontal,
.vertical {
  flex: 1;
}

.horizontal {
  display: flex;
  width: 100%;
  border: 0px ;
}

.vertical {
  border: 1px solid;
  border-color: black ;
  /* border-style: solid; */
  /* border-color: blue; */
}

#resetGridSize {
  width: 100%;
  height: 100px;
  font-size: 24px;
}